/* Figma Styles of your File */
:root {
  --app-red-500: #ba1a1a;
  --app-primary-color-50: #f3f8fb;
  --app-primary-color-100: #d7e8ec;
  --app-primary-color-200: #9cc5cc;
  --app-primary-color-300: #5ea0aa;
  --app-primary-color-400: #1f7b88;
  --app-primary-color-500: #006877;
  --app-primary-color-600: #084e59;
  --app-primary-color-700: #00363e;
  --app-primary-color-800: #001f25;
  --app-primary-color-900: #000000;
  --app-primary-color-950: #000000;
  --app-neutral-50: #f1f0f1;
  --app-neutral-100: #e3e2e2;
  --app-neutral-200: #c6c6c6;
  --app-neutral-300: #ababab;
  --app-neutral-400: #909191;
  --app-neutral-500: #767777;
  --app-neutral-600: #5d5e5f;
  --app-neutral-700: #464747;
  --app-neutral-800: #2f3131;
  --app-neutral-900: #1a1c1c;

  /* Fonts */
  --material-typography-title-medium-font-family: "DM Sans", sans-serif;
  --material-typography-title-small-font-family: "DM Sans", sans-serif;
  --material-typography-title-large-font-family: "DM Sans", sans-serif;
  --material-typography-label-large-font-family: "DM Sans", sans-serif;
  --material-typography-label-medium-font-family: "DM Sans", sans-serif;
  --material-typography-label-small-font-family: "DM Sans", sans-serif;
  --footnote-medium-13-font-family: "DM Sans", sans-serif;
  --material-typography-headline-small-font-family: "DM Sans", sans-serif;
  --material-typography-m2-subhead1-font-family: "DM Sans", sans-serif;
  --material-typography-headline-small-font-family: "DM Sans", sans-serif;
  --minder-display-large-font-family: "DM Sans", sans-serif;
  --minder-display-large-font-size: 57px;
  --minder-display-large-line-height: 64px;
  --minder-display-large-font-weight: 700;
  --minder-display-large-font-style: normal;
  --minder-display-medium-font-family: "DM Sans", sans-serif;
  --minder-display-medium-font-size: 45px;
  --minder-display-medium-line-height: 52px;
  --minder-display-medium-font-weight: 700;
  --minder-display-medium-font-style: normal;
  --minder-display-small-font-family: "DM Sans", sans-serif;
  --minder-display-small-font-size: 36px;
  --minder-display-small-line-height: 44px;
  --minder-display-small-font-weight: 700;
  --minder-display-small-font-style: normal;
  --minder-headline-large-font-family: "DM Sans", sans-serif;
  --minder-headline-large-font-size: 32px;
  --minder-headline-large-line-height: 40px;
  --minder-headline-large-font-weight: 700;
  --minder-headline-large-font-style: normal;
  --minder-headline-medium-font-family: "DM Sans", sans-serif;
  --minder-headline-medium-font-size: 28px;
  --minder-headline-medium-line-height: 36px;
  --minder-headline-medium-font-weight: 700;
  --minder-headline-medium-font-style: normal;
  --minder-headline-small-font-family: "DM Sans", sans-serif;
  --minder-headline-small-font-size: 24px;
  --minder-headline-small-line-height: 32px;
  --minder-headline-small-font-weight: 700;
  --minder-headline-small-font-style: normal;
  --minder-title-large-font-family: "DM Sans", sans-serif;
  --minder-title-large-font-size: 22px;
  --minder-title-large-line-height: 28px;
  --minder-title-large-font-weight: 700;
  --minder-title-large-font-style: normal;
  --minder-title-medium-font-family: "DM Sans", sans-serif;
  --minder-title-medium-font-size: 16px;
  --minder-title-medium-line-height: 24px;
  --minder-title-medium-font-weight: 700;
  --minder-title-medium-font-style: normal;
  --minder-title-small-font-family: "DM Sans", sans-serif;
  --minder-title-small-font-size: 14px;
  --minder-title-small-line-height: 20px;
  --minder-title-small-font-weight: 700;
  --minder-title-small-font-style: normal;
  --minder-label-large-font-family: "DM Sans", sans-serif;
  --minder-label-large-font-size: 14px;
  --minder-label-large-line-height: 20px;
  --minder-label-large-font-weight: 700;
  --minder-label-large-font-style: normal;
  --minder-label-medium-font-family: "DM Sans", sans-serif;
  --minder-label-medium-font-size: 12px;
  --minder-label-medium-line-height: 16px;
  --minder-label-medium-font-weight: 600;
  --minder-label-medium-font-style: normal;
  --minder-label-small-font-family: "DM Sans", sans-serif;
  --minder-label-small-font-size: 11px;
  --minder-label-small-line-height: 16px;
  --minder-label-small-font-weight: 600;
  --minder-label-small-font-style: normal;
  --minder-body-large-font-family: "DM Sans", sans-serif;
  --minder-body-large-font-size: 16px;
  --minder-body-large-line-height: 24px;
  --minder-body-large-font-weight: 400;
  --minder-body-large-font-style: normal;
  --minder-body-medium-font-family: "DM Sans", sans-serif;
  --minder-body-medium-font-size: 14px;
  --minder-body-medium-line-height: 20px;
  --minder-body-medium-font-weight: 400;
  --minder-body-medium-font-style: normal;
  --minder-body-small-font-family: "DM Sans", sans-serif;
  --minder-body-small-font-size: 12px;
  --minder-body-small-line-height: 16px;
  --minder-body-small-font-weight: 400;
  --minder-body-small-font-style: normal;


  /* Effects */
}
